<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

{% seo %}

    {% include head-custom.html %}
  </head>

  <body width=100%>
    <header>
      <div class="inner">
          {{ content }}
          <h1>Genähtes und Bedrucktes</h1>
          <p>Hallo,

            du bist auf der Seite von Lerino gelandet.
            
            Diese Seite befindet sich noch im Aufbau. Alle meine Produkte findest du bereits jetzt auf Etsy unter:</p>

            <h2><a href="https://www.etsy.com/de/shop/Lerino">https://www.etsy.com/de/shop/Lerino</a> </h2>
            <br><br>
            <p>In meinem Instagram-Profil findest du Posts zu allem, was ich sonst noch realisiere. Alles, was du dort findest, stelle ich </p> 
            <p>stelle ich auf Anfrage auch für sich her.</p>
            <br><br>
            <p>Du kannst mir auch eine Email an folgende Adresse schreiben:</p> 

            <h2>post@lerino.de</h2>
            <br><br>
            <p>Viele Grüße</p>
            <h2>Karen Stender</h2>
        </div>
    </header>
    
        <div id="content-wrapper">
      <div class="inner clearfix">
        
        
      </div>
    </div>


  </body>
</html>

